@charset 'utf-8';
/* 웹폰트 연결 */
@import url('webfonts.css');
@import url('var.css');
.yh-lnb-gov {
  text-shadow: none;
}
.yh-lnb-list a:last-child {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--txt-color);
}
/* 메인 */
.govern-card,
.conduct-card {
  width: 100%;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 300;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.conduct-card img {
  display: none;
}
.conduct-card-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 16px;
}
.conduct-card-li {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.cp-container span,
.compliance-container span {
  font-weight: 700;
}
.cp-container img,
.compliance-container img{
  width: 100%;
}
.title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title-wrap .main-title {
  width: 50%;
}
.council-table {
  min-width: 800px; /* 중요: 화면보다 크게 만들어야 스크롤 생김 */
}
.yh-rule-dl {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.yh-rule-dl dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid var(--sub-gray-color);
  color: var(--txt-color);
  padding: 12px 16px;
}
dt i {
  color: var(--main-color);
}
.yh-rule-dl dd {
  display: none;
  overflow: hidden;
  font-size: 0.9em;
  padding: 0 16px;
  border: 1px solid var(--sub-gray-color);
} 
dt.active {
  background-color: var(--main-color);
  color: #fff;
}
dt.active i {
  transform: rotate(180deg); /* 살짝 애니메이션 느낌 */
  color: #fff;
}