@charset 'utf-8';
/* 웹폰트 연결 */
@import url('webfonts.css');
@import url('var.css');
.yh-lnb-product {
  text-shadow: none;
}
.yh-lnb-list a:first-child {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--txt-color);
}
/* 메인 */


/* 1. mo ~767px까지 */
@media all and (max-width: 767px) {}

/* 2. tb 768px부터~ */
@media all and (min-width: 768px) {}

/* 4. pc 1280px부터~ */
@media all and (min-width: 1280px) {}