@charset 'UTF-8';
@import url('var.css');

/* 1. mo ~767px까지 */
@media all and (max-width: 767px) {}

/* 2. tb 768px부터~ */
@media all and (min-width: 768px) {
  .txt-title {
    font-size: 22px;
  }
  .strategy-contents {
    flex-direction: row;
  }
  .mission-container img {
    width: 70%;
  }
  .roadmap-container img {
    width: 100%;
    max-width: 900px;
  }
}

/* 4. pc 1280px부터~ */
@media all and (min-width: 1280px) {
  .txt-title {
    font-size: 24px;
  }
  .mission-container img {
    width: 70%;
  }
  .strategy-container > img{
    width: 70%;
  }
  .roadmap-container img {
    max-width: inherit;
  }
}